body {
    background-color: #A9A9A9;
  
    font-family: 'Georgia', 'serif', sans-serif;
    font-size: 16px;
    padding-top: 40px;
  }
  h1, p {
    text-align: center;
    color: #fff;
    margin: 0 auto;
    max-width: 700px;
  }
  
  
  div#container {
    display: table;
    
    width: 400px;
    
    margin: 50px auto 0;
  }
  div#container div.cell {
    display: table-cell;
  }
  div#container div.cell:last-child {
    width: 1px;
  }
  
 form.search input[type=text]{
     padding: 10px;
     font-size: 16px;
     border: 1px #512888;
     float: center;
     width: 60%;
     background: white;
 }

 form.search button{
     float:center;
     width: 20%;
     padding: 10px;
     background: white;
     color: black;
     font-size: 16px;
     border: 1px #512888;
     border-left: none;
     cursor: pointer;
 }

 form.search button:hover{
     background: #512888;
 }

 form.search::after{
     content:"";
     clear:both;
     display: table;
 }