body {
    background-color: #A9A9A9;
  
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 16px;
    padding-top: 40px;
  }
  h1, p {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    max-width: 700px;
  }
  
  
  div#container {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    display: table;
    
    width: 400px;
    
    margin: 50px auto 0;
  }
  div#container div.cell {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    display: table-cell;
  }
  div#container div.cell:last-child {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    width: 1px;
  }
  ul {
  list-style-type: none;
  width: 500px;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
li img {
  float: left;
  margin: 0 15px 0 0;
}
 
li {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 16px;
  list-style-type: none; 
  padding: 10px;
  overflow: auto;
}
 
li:hover {
  background: white;
  cursor: pointer;
}

 form.search input[type=text]{
   font-family: Futura, "Trebuchet MS", Arial, sans-serif;
     padding: 10px;
     font-size: 16px;
     border: 3px #512888;
     border-radius: 5px;
     float: center;
     width: 60%;
     background: white;
 }

 form.search button{
   font-family: Futura, "Trebuchet MS", Arial, sans-serif;
     float:center;
     width: 20%;
     padding: 10px;
     background: white;
     color: black;
     font-size: 16px;
     border: 3px #512888;
     border-radius: 5px;
     border-left: none;
     cursor: pointer;
 }

 form.search button:hover{
   font-family: Futura, "Trebuchet MS", Arial, sans-serif;
     background: #512888;
 }

 form.search::after{
   font-family: Futura, "Trebuchet MS", Arial, sans-serif;
     content:"";
     clear:both;
     display: table;
 }

 #searchResults{
   font-family: Futura, "Trebuchet MS", Arial, sans-serif;
   padding: 10 px;
   font-size: 16px;
 }

/* Just some sample href css */
 /* unvisited link */
a:link {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: #512888;
    padding: 10 px;
}

/* visited link */
a:visited {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: red;
    padding: 10 px;
}

/* mouse over link */
a:hover {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: #512888;
    padding: 10 px;
}

/* selected link */
a:active {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: blue;
    padding: 10 px;
}