<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title><%= context.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="gamePage.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <header>
            <div class="primary_header">
                <form name="search" class="search" action="">
                    <input type="text" id="userInput" placeholder="Search" name="userInput">
                    <button type="submit">Search</button>
                </form>
            </div>
        </header>
        <section>
            <article class="left_article">
                <h3><%= context.gameDetails %></h3>
                <p><%= context.gameDeveloper %></p>
                <p><%= context.gameReleaseDate %></p>
                <p><%= context.gamePlatformList %></p>
                <p><%= context.gameGenre %></p>
            </article>
            <aside class="right_article"><img src="http://via.placeholder.com/400x200" alt="" width="400" height="200" class="placeholder" /> </aside>
        </section>
        <div class="row">
            <div class="columns">
                <h4>Game Summary</h4>
                <p> <%= context.gameSummary %>
                </p>
            </div>
            <div class="columns">
                <h4><%= context.gameRating %></h4>
                <p>{Fancy_Graphic}</p>
            </div>
        </div>
    </div>
            <script src="template.js"></script>
</body>
</html>